:host {
  .filters {
    width: 900px;
    margin: auto;
    text-align: center;
    position: relative;

    .new-button {
      position: absolute;
      right: 0;
      top: 18px;
    }

    mat-checkbox {
      margin: 0 20px;
    }
  }

  mat-accordion {
    mat-expansion-panel {
      text-align: center;
      width: 900px;
      margin: auto;
      position: relative;

      mat-expansion-panel-header {
        mat-chip-list {
          margin-right: 20px;
        }
      }

      mat-form-field {
        width: 500px;
      }

      .answers {
        margin-top: 10px;

        .answer {
          display: inline-block;
          margin: 0 50px;
          font-weight: bold;
          font-size: 20px;

          .percent {
            font-size: 17px;
          }

          .counter {
            font-size: 14px;
            font-weight: normal;
            font-style: italic;
          }
        }
      }

      .hard {
        margin-top: 20px;
      }

      .edit-button {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  }
}
