<!-- Les filtres -->
<div class="filters">
  <mat-form-field appearance="outline">
    <mat-label>Rechercher</mat-label>
    <input matInput type="text" [(ngModel)]="filters.search">
  </mat-form-field>
  <mat-checkbox color="accent" [(ngModel)]="filters.showHard">Hard</mat-checkbox>
  <mat-checkbox [(ngModel)]="filters.translated">Traduites dans les deux langues</mat-checkbox>
  <button mat-button (click)="filterQuestions()">Filtrer</button>

  <!-- Nouvelle question -->
  <button class="new-button" mat-mini-fab color="accent" (click)="openEditModal(true)">
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- Les questions -->
<mat-accordion>
  <!-- Liste des questions -->
  <mat-expansion-panel *ngFor="let question of questionsFiltered">
    <!-- Titre de la question -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{question.questionFr || question.questionEn}}
      </mat-panel-title>

      <!-- Chips -->
      <mat-chip-list>
        <mat-chip *ngIf="question.questionFr?.length > 0">Français</mat-chip>
        <mat-chip *ngIf="question.questionEn?.length > 0">Anglais</mat-chip>
        <mat-chip color="accent" *ngIf="question.hard">Hard</mat-chip>
      </mat-chip-list>
    </mat-expansion-panel-header>

    <!-- Question en Français -->
    <mat-form-field appearance="outline" *ngIf="question.questionFr">
      <textarea matInput disabled [(ngModel)]="question.questionFr"></textarea>
      <mat-label>Français</mat-label>
    </mat-form-field>

    <!-- Question en Anglais -->
    <mat-form-field appearance="outline" *ngIf="question.questionEn">
      <textarea matInput disabled [(ngModel)]="question.questionEn"></textarea>
      <mat-label>Anglais</mat-label>
    </mat-form-field>

    <!-- Réponses -->
    <div class="answers">
      <div class="answer yes">
        <section>OUI</section>
        <div class="percent">{{getPercentOf(question, true)}}</div>
        <div class="counter">{{question.yes}}</div>
      </div>

      <div class="answer yes">
        <section>NON</section>
        <div class="percent">{{getPercentOf(question, false)}}</div>
        <div class="counter">{{question.no}}</div>
      </div>
    </div>

    <!-- Si la question est hard -->
    <div class="hard">
      <mat-checkbox disabled [(ngModel)]="question.hard">Question hard</mat-checkbox>
    </div>

    <!-- Editer la question -->
    <button class="edit-button" mat-fab color="accent" (click)="openEditModal(false, question)">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-expansion-panel>
</mat-accordion>
