<!-- Titre -->
<div class="header">
  <div class="title">
    Pour un million
  </div>
</div>

<div class="container">
  <ng-container *ngIf="!!questions; else loading">
    <!-- La question courrante -->
    <ng-container *ngIf="areRemainingQuestions(); else noRemainingQuestion">
      <div #questionContainer class="question">
        {{currentQuestion.questionFr}}
      </div>

      <!-- Les réponses -->
      <div class="answers">
        <div class="answer yes" [class.result-displayed]="showResult" (click)="answer(currentQuestion,true)">
          <span *ngIf="!showResult">Oui</span>
          <span *ngIf="showResult">{{getPercentFor(currentQuestion, true)}}%</span>
          <div class="result" [style.width.%]="showResult ? getPercentFor(currentQuestion, true):0"></div>
        </div>
        <div class="answer no" [class.result-displayed]="showResult" (click)="answer(currentQuestion,false)">
          <span *ngIf="!showResult">Non</span>
          <span *ngIf="showResult">{{getPercentFor(currentQuestion, false)}}%</span>
          <div class="result" [style.width.%]="showResult ? getPercentFor(currentQuestion, false):0"></div>
        </div>
      </div>

      <!-- Question suivante -->
      <div class="next-question" *ngIf="showResult">
        <button mat-raised-button (click)="nextQuestion()">Question suivante...</button>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #noRemainingQuestion>
    Plus aucune question pour le moment
  </ng-template>

  <ng-template #loading>
    Chargement
  </ng-template>
</div>

<!--
<ng-container *ngIf="!!questions; else loading">
  <div class="question" *ngIf="areRemainingQuestions(); else noRemainingQuestion">
    {{currentQuestion.id}}<br>
    {{currentQuestion.questionFr}}<br>
    Yes : {{currentQuestion.yes}}<br>
    No : {{currentQuestion.no}}<br>

    <button (click)="answer(currentQuestion,true)">
      OUI
    </button>
    <button (click)="answer(currentQuestion,false)">
      NON
    </button>
  </div>

  <ng-template #noRemainingQuestion>
    Plus aucune question pour le moment
  </ng-template>
</ng-container>

&lt;!&ndash; Chargement &ndash;&gt;
<ng-template #loading>
  Chargement
</ng-template>

Show Hard ? {{showHard}}
<button (click)="changeShowHard(!showHard)">change</button>
-->
