:host {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;

  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #303030;
    font-size: 60px;
    color: white;
    height: 150px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);

    .title {
      font-family: 'Righteous', cursive;
      width: 100%;
      text-align: center;
      padding: 0 20px;
    }
  }

  .question {
    position: relative;
  }

  .container {
    width: 100%;
    position: relative;
    font-size: 25px;
    text-align: center;
    padding-top: 50px;

    .answers {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-content: center;
      user-select: none;
      flex-direction: row;
      flex-wrap: wrap;

      .answer {
        width: 250px;
        height: 100px;
        border: solid 1px gray;
        border-radius: 4px;
        line-height: 100px;
        margin: 10px 15px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: background 0.3s;

        &.yes {
          .result {
            background: green;
          }

          &:hover, &.result-displayed {
            background: rgba(green, 0.3);
          }
        }

        &.no {
          .result {
            background: red;
          }

          &:hover, &.result-displayed {
            background: rgba(red, 0.3);
          }
        }

        .result {
          height: 100%;
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          transition: width 1s ease-in-out;
        }
      }
    }

    .next-question {
      text-align: center;
      padding-top: 30px;
    }
  }
}
