<mat-card>
  <form [formGroup]="form" (ngSubmit)="logIn(form.value)">
    <!-- Login -->
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput type="text" formControlName="login">
      </mat-form-field>
    </p>

    <!-- Mot de passe -->
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </p>

    <!-- Valider -->
    <p>
      <button mat-button type="submit">Se connecter</button>
    </p>

    <!-- Message d'erreur -->
    <div class="error" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  </form>
</mat-card>

