:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card {
    width: 500px;
    margin: auto;
    text-align: center;

    mat-form-field {
      width: 400px;
    }

    .error {
      color: red;
    }
  }
}
