<!-- Menu du haut -->
<mat-toolbar>
  <span>Administration</span>
  <button mat-button (click)="logOut()">Se déconnecter</button>
</mat-toolbar>

<!-- Editeur de question -->
<app-admin-question-viewer></app-admin-question-viewer>
