<h1>
  <span *ngIf="data.isNew">Nouvelle question</span>
  <span *ngIf="!data.isNew">Editer une question</span>
</h1>

<form [formGroup]="form" (ngSubmit)="validate(form.value)">
  <!-- Texte FR -->
  <p>
    <mat-form-field appearance="outline">
      <textarea matInput formControlName="questionFr"></textarea>
      <mat-label>Français</mat-label>
    </mat-form-field>
  </p>

  <!-- Texte EN -->
  <p>
    <mat-form-field appearance="outline">
      <textarea matInput formControlName="questionEn"></textarea>
      <mat-label>Anglais</mat-label>
    </mat-form-field>
  </p>

  <!-- Si la question est hard-->
  <mat-checkbox formControlName="hard">Question hard</mat-checkbox>

  <!-- Valider -->
  <p>
    <button mat-button type="submit" [class.loading]="loading"
            [disabled]="form.controls['questionFr'].value.length === 0
            && form.controls['questionEn'].value.length === 0">
      Valider
    </button>
  </p>
</form>

